# 1 Listas de números
Considere a seguinte lista (execute a linha de código seguinte para que a lista fique definida no Jupyter)

In [6]:
lista = [1, 4, 6, 22, 4, 7, 13, 12, 2, 3, 5]

Lembre-se que existe:
* uma indexação que vai da esquerda para a direita e começa no 0, 
* uma indexação que vai da direita para a esquerda e começa no -1  



1.1 imprima o numero que está na posição de indice 2

carro

1.2 imprima o numero que está na penúltima posição da lista.

boneca

1.3 imprima todos os números desta lista separados por espaços (use o atributo end). Lembre-se que com um ciclo for pode iterar diretamente pelos elementos da lista.

In [45]:
lista = [1, 4, 6, 22, 4, 7, 13, 12, 2, 3, 5]

1 4 6 22 4 7 13 12 2 3 5

1.4. Faça um programa que some todos os números pares desta lista e crie a lista pares, dos elementos pares da lista. imprima o resultado e a lista pares.

Resultado esperado:
```
A soma dos numeros pares da lista é 50
Lista dos númeors pares: [2, 4, 6, 22, 4, 12]
```

1.5 Faça um programa que imprime o índice da posição e o valor de cada elemento da lista. Utilize a função enumerate.

resultado esperado:
```
Na posição de indice 0 está o 1
Na posição de indice 1 está o 4
...
```

1.6 Crie uma lista com os números de 1 a 10 usando uma compreensão

1.7 Cria uma lista com os números pares de 100 a 140, inclusivé,  usando uma compreensão

# 2 Listas de strings

Considere a seguinte lista: 

`nomes = ["Maria", "Manuel", "Luis", "Augusta", "Zé", "Tolentino", "Ana"]`



2.1 Recorrendo a um ciclo e a formated strings, itere pelos vários nomes e imprima para cada nome uma frase do tipo:

`Bom dia, Maria!`

2.2 Crie uma lista ordenada alfabeticamente e imprima-a.

Resultado esperado: `['Ana', 'Augusta', 'Luis', 'Manuel', 'Maria', 'Tolentino', 'Zé']`

2.3 Crie uma lista ordenada pelo número de carateres, de forma decrescente, e imprima-a.

Resultado esperado: `['Tolentino', 'Augusta', 'Manuel', 'Maria', 'Luis', 'Ana', 'Zé']`

2.4 Crie, com um ciclo for, uma lista com a primeira letra de cada nome.

Resultado esperado: `['M', 'M', 'L', 'A', 'Z', 'T', 'A']`

2.5 Crie com uma compreensão uma lista que guarda a primeira letra de cada nome.

2.6 Crie a lista `ladies` que guarda os nomes terminados em "a".


Resultado esperado: `['Maria', 'Augusta', 'Ana']`

2.7 Crie a lista `ladies` que guarda os nomes terminados em "a", usando uma compreensão

# 3 Processamento de listas com strings

Considere a seguinte lista de strings:

In [84]:
dados = [
    "Pedro Tamen, 1/1/1934", 
    "Almeida Garrett, 4/2/1799",
    "Camilo Pessanha, 7/9/1867",
    "Almada Negreiros, 7/5/1893",
    "Ibn Bassam, 21/11/1058",
    "Antonio Aleixo, 18/2/1899",
    "Agustina Bessa-Luís, 15/10/1922",
    "Ricardo Reis, 19/9/1887",
    "Mario Sá-Carneiro, 19/5/1890",
    "Mario Cesariny, 9/9/1923",
    "Luis Camões, 10/6/1524",
    "Miguel Torga, 12/8/1907",
    "Lidia Jorge, 18/10/1946"
    "Natália Correia, 12/9/1923",
    "Tolentino Mendonça, 15/12/1965",
    "Alberto Caeiro, 16/5/1889",
    "Jose Saramago, 16/11/1922",
    "Cesario Verde, 25/2/1855",
    "Luiz Pacheco, 7/5/1925",
    "Manuel Alegre, 12/5/1936",
    "Fernando Pessoa, 13/6/1888",
    "Herberto Helder, 23/11/1930",
    "Florbela Espanca, 8/12/1894"
]

### Relembrando...

No processamento de strings, dois métodos são muito úteis, split e find:

In [66]:
 "Pedro Tamen, 1/1/1934".split(', ')

['Pedro Tamen', '1/1/1934']

In [67]:
 "Pedro Tamen, 1/1/1934".split(',')[0]

'Pedro Tamen'

In [68]:
nome = "Pedro Tamen, 1/1/1934"
nome[:nome.find(' ')] # retorna o índice da primeira ocorrência de ' '

'Pedro'

In [69]:
nome = "Pedro Tamen, 1/1/1934"
nome[:nome.find(',')]

'Pedro Tamen'

In [2]:
nome = "Pedro Tamen, 1/1/1934"
nome.split()[1][:-1]

'Tamen'

As compreensões também são formas simples de transformar uma lista. Por exemplo, criemos a lista com a primeira letra de cada pessoa:

In [70]:
letras = [info[0] for info in dados]
print(letras)

['P', 'A', 'C', 'A', 'I', 'A', 'A', 'R', 'M', 'M', 'L', 'M', 'L', 'T', 'A', 'J', 'C', 'L', 'M', 'F', 'H', 'F']

Criemos uma lista de anos de nascimento de cada pessoa:

In [71]:
anos = [int(info.split('/')[-1]) for info in dados]
print(anos)

[1934, 1799, 1867, 1893, 1058, 1899, 1922, 1887, 1890, 1923, 1524, 1907, 1923, 1965, 1889, 1922, 1855, 1925, 1936, 1888, 1930, 1894]

Criemos um dicionário de anos, onde a chave é a primeira letra do nome e o valor o ano nascimento:

In [80]:
aniversarios = {info[0]:int(info[-4:]) for info in dados}
print(aniversarios)

{'P': 1934, 'A': 1889, 'C': 1855, 'I': 1058, 'R': 1887, 'M': 1936, 'L': 1925, 'T': 1965, 'J': 1922, 'F': 1894, 'H': 1930}

Transformando o dicionario anterior numa lista de tuplos é muito simples com o construtor list, não esquecendo de usar o método items() que especifica que queremos transformar os items, pares (chave e valor):

In [83]:
listaAniversarios = list(aniversarios.items())
print(listaAniversarios)

[('P', 1934), ('A', 1889), ('C', 1855), ('I', 1058), ('R', 1887), ('M', 1936), ('L', 1925), ('T', 1965), ('J', 1922), ('F', 1894), ('H', 1930)]

### Exercicios 
Considere a seguinte lista de strings:

In [86]:
dados = [
    "Pedro Tamen, 1/1/1934", 
    "Almeida Garrett, 4/2/1799",
    "Camilo Pessanha, 7/9/1867",
    "Almada Negreiros, 7/5/1893",
    "Ibn Bassam, 21/11/1058",
    "Antonio Aleixo, 18/2/1899",
    "Agustina Bessa-Luís, 15/10/1922",
    "Ricardo Reis, 19/9/1887",
    "Mario Sá-Carneiro, 19/5/1890",
    "Mario Cesariny, 9/9/1923",
    "Luis Camões, 10/6/1524",
    "Miguel Torga, 12/8/1907",
    "Lidia Jorge, 18/10/1946"
    "Natália Correia, 12/9/1923",
    "Tolentino Mendonça, 15/12/1965",
    "Alberto Caeiro, 16/5/1889",
    "Jose Saramago, 16/11/1922",
    "Cesario Verde, 25/2/1855",
    "Luiz Pacheco, 7/5/1925",
    "Manuel Alegre, 12/5/1936",
    "Fernando Pessoa, 13/6/1888",
    "Herberto Helder, 23/11/1930",
    "Florbela Espanca, 8/12/1894"
]

3.1 Crie, com um ciclo for, uma lista de strings, onde cada string tem o nome e apelido de cada pessoa. Utilize por exemplo o método split.

   * Exemplo de excerto da lista: `nomes = ["Pedro Tamen", "Almeida Garrett", ...]`

3.2 Crie uma lista de strings, onde cada string tem a primeira letra (abreviatura) do nome e o apelido de cada pessoa. Tende depois utilizar uma compreensão.

   * Exemplo de excerto da lista:  `nomes = ["P.Tamen", "A.Garrett", ...]`

3.3 Ordene a lista pelo apelido

Resultado esperado: `['M.Alegre', 'A.Aleixo', 'I.Bassam', 'A.Bessa-Luís', ...`

3.4 Usando a lista `dados` do exercício anterior, crie um dicionário de anos de nascimento em que a chave é a sigla e apelido, e o valor o ano de nascimento.

Exemplo de excerto do dicionário: `anosNascimento = {"P. Tamen": 1934, "A. Garrett":1799, ...}`

3.5 Converta o dicionario numa lista e ordene-a pelo ano de nascimento de forma decrescente. Use o método items() ds dicionários, e o construtor list.

# 4. Dicionários
Num infantário perguntaram às crianças qual a prenda de Natal que queriam. Resultou na seguinte lista:

In [21]:
lista_brinquedos = ["bola", "boneca", "carro", "boneca", "boneca", "bola", "boneca", "carro", 
                    "boneca", "boneca", "bola", "boneca", "carro", "boneca", "boneca", 
                    "bola", "boneca", "carro", "boneca", "boneca", "bola", "carro", "bola", 
                    "carro", "boneca", "boneca", "carro", "carro", "carro"]

4.1 Crie o set de brinquedos pretendidos

Resultado esperado: `{'bola', 'boneca', 'carro'}  - o resultado pode estar noutra ordem pois é um set!`

4.2 Crie um dicionario em que, para cada brinquedo (chave), guarda a quantidade de brinquedos (valor)

Resultado esperado: `{'bola': 6, 'boneca': 14, 'carro': 9}`

4.3 Transforme os items do dicionario (lembre-se do método para obter os items...) numa lista de tuplos, com a função list

Resultado esperado: `[('bola', 6), ('boneca', 14), ('carro', 9)]`

4.4 Ordene decrescentemente a lista, pela quantidade de brinquedos

Resultado esperado: `[('boneca', 14), ('carro', 9), ('bola', 6)]`

# 5 Explorando um dicionário

Considere o dicionário brinquedos que tem o inventário dos brinquedos de várias crianças:
* Manuel tem um carro e uma bola
* Maria tem uma boneca e uma bola
* Luís tem uma bola, boneca e carro

Exemplo de um dicionário.

In [4]:
brinquedos = {
    "Manuel": ["carro", "bola"],
    "Maria": ["boneca", "bola"],
    "Luis": ["bola", "boneca", "carro"]
    }

5.1 Considerando que o dicionário segue a estrutura anterior, escreva uma instrução que compute quantas crianças existem no dicionário

Resultado esperado: `Existem 3 crianças`

5.2 Considerando que o dicionário segue a estrutura anterior, imprima a informação de quantos brinquedos cada criança tem, iterando com um ciclo for pelos items do dicionário, e usando uma string formatada.

Resultado esperado:

```
Manuel: 2 brinquedos 
Maria: 2 brinquedos 
Luis: 3 brinquedos
```

Manuel: 2 brinquedos
Maria: 2 brinquedos
Luis: 3 brinquedos

5.3 Imaginando que conhece a estrutura mas não o conteúdo do dicionário, verifique a quantidade total de brinquedos existente.

Exemplo de resultado: `Existem 7 brinquedos`

5.4 crie um código que verifique se existe alguma criança com um carro

5.5 crie um código que indique os nomes das crianças que têm um carro.

Resultado esperado: `Manuel Maria Luis `

5.6 crie um código que indique quantas crianças têm uma boneca

Resultado esperado: `Existem 2 crianças com uma boneca`

5.7 crie uma instrução para adicionar um pião à lista de brinquedos do Manuel

5.8 remova a bola da lista de brinquedos do Manuel